<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="FoxRestAPISuite">
<listeners>
	<listener class-name="com.rupeek.utilities.Listeners" />
</listeners>
	<test thread-count="5" name="RestAPITest">
		<classes>
			<class name="com.rupeek.testCases.TC001_LOG_IN_User" />
			<class name="com.rupeek.testCases.TC002_Get_All_Users" />
			<class name="com.rupeek.testCases.TC003_Get_User_Detail_For_Phone" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
